<footer>
    <div class="content has-text-left" style="background-color: white;">
        <p style="padding: 16px;">Powered by <a href="https://github.com/sangwon090/mock-nypc">mock-nypc</a></p>
    </div>
</footer>