<!DOCTYPE html>
<html>
    <%- include('components/head') %>
    <body>
        <%-include('components/navbar', { title: title, logined: logined }) %>
        <h1>Hello, World!</h1>
        <%- include('components/scripts') %>
    </body>
</html>