<!DOCTYPE html>
<html>
    <head>
        <title>Mock NYPC</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css"></style>
        <link rel="stylesheet" href="/static/fonts.css"></style>
    </head>
    <body>
        <h1>Hello, World!</h1>
    </body>
</html>